<?php
$mxcChildRouteModels = array(
    'child_route_models' => array(
       	'default' => array(
       	   'may_terminate' => true,
       	   'child_routes' => array(
           	   'create' => array(
            	   'type' => 'Literal',
                    'options' => array(
                	   'route' => '/c',
                        'defaults' => array(
                            'action' => 'create',
                        ),
                    ),
                ),
                'list' => array(
            	   'type' => 'Literal',
                    'options' => array(
                	   'route' => '/l',
                        'defaults' => array(
                            'action' => 'list',
                        ),
                    ),
                ),
                'edit' => array(
            	   'type' => 'Segment',
                    'options' => array(
                	   'route' => '/:id/e',
                        'constraints' => array(
                            'id' => '[0-9]*',
                        ),
                        'defaults' => array(
                            'action' => 'edit',
                        ),
                    ),
                ),
                'show' => array(
            	   'type' => 'Segment',
                    'options' => array(
                	   'route' => '/:id/s',
                        'constraints' => array(
                            'id' => '[0-9]*',
                        ),
                        'defaults' => array(
                            'action' => 'show',
                        ),
                    ),
                ),
                'delete' => array(
            	   'type' => 'Segment',
                   'options' => array(
                	   'route' => '/:id/d',
                        'constraints' => array(
                            'id' => '[0-9]*',
                        ),
                        'defaults' => array(
                           'action' => 'delete',
                        ),
                    ),
                ),
            ),
       	),

        'extended' => array(
            'extends' => 'default',
            'child_routes' => array(
                'listby' => array(
            	   'type' => 'Segment',
                    'options' => array(
                	   'route' => '/lb/:id',
                        'constraints' => array(
                            'id' => '[0-9]*',
                        ),
                        'defaults' => array(
                            'action' => 'list',
                            'findMethod' => 'findBy'
                        ),
                    ),
                ),
                
            )
        )
    ),
);

/**
 * You do not need to edit below this line
 */

return array(
	'mxc_routes' => $mxcChildRouteModels,
);

